@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
 
 
}
.logo-cnt{
  @apply flex items-center
}
.logo-cnt h1{
  @apply text-lg font-bold
}
.header-cnt{
  @apply flex justify-between items-center  py-2
}
.search-cnt{
  @apply bg-gray95  rounded-full px-3 py-1 flex items-center
}
.search-input{
  @apply h-8 w-96 border-none bg-gray95 outline-none text-sm p-2 
}


.action-cnt{
  @apply flex items-center justify-end gap-3 text-sm
}
.signup-btn{
  @apply px-4 py-2 rounded-full bg-blue-600 text-white
}
.card-cnt{
  @apply w-48 max-h-48 flex flex-col px-5 py-5 gap-2 relative hover:shadow-card-hover cursor-pointer 
}

.card-cnt .save-icon{
@apply  absolute top-3 right-3 
}

.my-footer{
  @apply w-full bg-[#F2F4F5] py-10 mt-32
}
.moon-icon{
  @apply flex justify-center items-center rounded-full bg-[#dad9d9] p-3 cursor-pointer
}